---
import {Image} from "@astrojs/image/components"
const {title,url,img,alt} = Astro.props
---
<li><a rel="prefetch" href={url}><Image loading="lazy" src={img} alt={alt} width="50%" aspectRatio="16:9" /><span>{title}</span> </a></li>
<style>
  li{
    display:flex;
    flex-direction:column;
    margin: 30px 0;
    padding:15px;
    background:#eee;
    max-width:50vw;
    border-radius:10px;
    border:1px solid #ddd;
    box-shadow:3px 3px 10px 1px #88888888;
  }
  img{
  width:100%;
  }
  a{
    text-decoration:none;
    color:blue;
    display:flex;
    flex-direction:column;
  }

  a:focus{
    background:none;
  }
  a:hover{
    opacity:80%;
  }
  span{
    margin-top:1em;
    font-size:1.2em;
  }
</style>